# macOS/IDE
.DS_Store
Thumbs.db

# IDE Files
.devcontainer/*
.devcontainer.json
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Log files
*.log
/tests/logs

# Dependencies
/vendor/
/vendor-prefixed/
/node_modules/

# Build output
# build/ -- @todo reactivate when we're serving via .org and don't need to build.
*.tsbuildinfo
wp-graphql-headless-login.zip

# Environment
.env
.env.*
!.env.dist

# Strauss
bin/strauss.phar

# AI files
.gemini/
.claude/
AGENTS.md
GEMINI.md
CLAUDE.md

# Test output
/tests/_output/*
!/tests/_output/.gitkeep
/tests/e2e/artifacts
tests/*.suite.yml
c3.php

# Configs
/phpcs.xml
/phpstan.neon

# WP ENV
/.wp-env.override.json

# Generated Schema used in some tooling. Versioned Schema is uploaded as a Release artifact to Github.
schema.graphql
