# Automatically normalize line endings.
* text=auto

# Files and directories to exclude from `composer require`.
/assets/ export-ignore
/bin/ export-ignore
/packages/ export-ignore
/tools/ export-ignore
/tests/ export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore

# Root files that are not needed for distribution.
/composer.lock export-ignore
/eslint.config.mjs export-ignore
/global.d.ts export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/release-please-config.json export-ignore
/tsconfig.json export-ignore
/vitest.config.ts export-ignore
/vitest.setup.ts export-ignore
/webpack.config.js export-ignore

# Mark docs as documentation for GitHub Linguist.
/docs/ linguist-documentation export-ignore
/CHANGELOG.md linguist-documentation export-ignore

# Keep license and readme files.
/LICENSE linguist-documentation
/README.md linguist-documentation
/readme.txt linguist-documentation
