parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-headless-login.php
			- access-functions.php
			- activation.php
			- deactivation.php
			- src/
		excludePaths:
			analyse:
				- vendor-prefixed
			analyseAndScan:
				- ../wp-graphql/tests
		scanFiles:
			- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		scanDirectories:
			- ../wp-graphql
			- ../wp-graphql-woocommerce/includes
