<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TESTS_MULTISITE" value="1" />
  	</php>
	<testsuites>
		<testsuite name="Headless Login for WPGraphQL Test Suite">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<file>./wp-graphql-headless-login.php</file>
			<file>./access-functions.php</file>
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
